<include file="Public/head" />

<!-- content start -->
  <div class="admin-content">

      <div class="am-u-sm-12">
          <h1 align="center">学生活动申请表</h1>
          <a class="am-btn am-btn-danger am-fr" href="javascript:history.back(-1)">返回审批</a>
          <div class="am-panel am-panel-default">
            <div class="am-panel-hd">
              <h3 class="am-panel-title">基本信息</h3>
            </div>

            <ul class="am-list am-list-static">
              <li>申请单位：{$a.activity_sqdw}</li>
              <li>申请人：{$a.activity_sqr}</li>
              <li>联系方式：{$a.activity_tel}</li>
              <li>活动时间：{$a.activity_kssj|date="Y-m-d H:i",###}至{$a.activity_jssj|date="Y-m-d H:i",###}</li>
              <li>活动地点：{$a.address_name}</li>
              <li>参加人数：{$a.activity_cjrs}</li>
              <li>活动组织者：{$a.activity_zzz}</li>
              <li>安全负责人：{$a.activity_aqfzr}</li>
              <li>卫生负责人:{$a.activity_wsfzr}</li>
            </ul>

            <div class="am-panel-hd">
              <h3 class="am-panel-title">活动内容与方案</h3>
            </div>
            <div class="am-panel-bd">
              {$a.activity_nram}
            </div>

            <div class="am-panel-hd">
              <h3 class="am-panel-title">活动安全方案</h3>
            </div>
            <div class="am-panel-bd">
              {$a.activity_aqya}
            </div>

            <div class="am-panel-hd">
              <h3 class="am-panel-title">辅导员(指导)老师意见</h3>
            </div>
            <div class="am-panel-bd">
              <empty name="a.activity_fdysp">
              正在等待辅导员老师审批
              <else /> 
              {$a.activity_fdyyj}
              姓名：{$a.activity_fdyname} 时间:{$a.activity_fdysj|date="Y-m-d H:i",###} </empty> 
            </div>

            <div class="am-panel-hd">
              <h3 class="am-panel-title">学生工作（团总支）办公室意见</h3>
            </div>
            <div class="am-panel-bd">
              <empty name="a.activity_tzzsp">
                <if condition="$a.activity_zt = 1">
                正在等待学生工作（团总支）办公室审批
                </if>
              <else />
              {$a.activity_tzzyj}
              姓名：{$a.activity_tzzname} 时间:{$a.activity_tzzsj|date="Y-m-d H:i",###} </empty>
            </div>

            <div class="am-panel-hd">
              <h3 class="am-panel-title">保卫办公室意见</h3>
            </div>
            <div class="am-panel-bd">
              <empty name="a.activity_bwbsp">
                <if condition="$a.activity_zt = 1">
                正在等待保卫办公室审批
                </if>
              <else />
              {$a.activity_bwbyj}
              姓名：{$a.activity_bwbname} 时间:{$a.activity_bwbsj|date="Y-m-d H:i",###}</empty>
            </div>

            <div class="am-panel-hd">
              <h3 class="am-panel-title">活动分管领导意见</h3>
            </div>
            <div class="am-panel-bd">
              <empty name="a.activity_ldsp">
                <if condition="$a.activity_zt = 1">
                正在等待分管领导审批
                </if>
              <else />
              {$a.activity_ldyj}
              姓名：{$a.activity_ldname} 时间:{$a.activity_ldsj|date="Y-m-d H:i",###}</empty>
            </div>
          </div>

      </div>


  </div>
  <!-- content end -->
<include file="Public/footer" />